/* 
AVF Project
Name: William Saults
Term: 1211
*/

@media only screen and (min-width: 769px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 30px;
	}
	
	li {
		font-size: 20px;
	}
	
	#content {
		width: 1024px;
	}
	
	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
	
	#features {
		width: 250px;
		float: left;
	}
	
	#apis {
		width: 250px;
		float: left;
	}
	
	#research {
		width: 250px;
		float: left;
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 40px;
	}
	
	li {
		font-size: 30px;
	}
	
	#content {
		width: 768px;
	}
	
	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 15px;
	}
	
	li {
		font-size: 12px;
	}
	
	#content {
		width: 480px;
	}
	
	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:320px;
	}
}

@media only screen and (max-width: 320px) {
	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 15px;
	}
	
	li {
		font-size: 12px;
	}
	
	#content {
		width: 480px;
	}
	
	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:320px;
	}
}


/* iPad landscape */
/*
@media screen and (min-width : 1024px) {
	h1 {
		text-align: left;
		font-size: 80px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	li {
		font-size: 20px;
	}
	
	#header {
	}
	
	#content {
		width: 1024px;
	}

	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
	
	#features {
		width: 250px;
	}
	
	#apis {
		width: 250px;
	}
	
	#research {
		width: 250px;
	}
}
*/

/* iPad portrait */
/*
@media screen and (min-width : 768px) {
	h1 {
		text-align: left;
		font-size: 20px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	li {
		font-size: 20px;
	}
	
	#header {
	}
	
	#content {
		width: 768px;
	}

	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
	
	#features {
		width: 250px;
	}
	
	#apis {
		width: 250px;
	}
	
	#research {
		width: 250px;
	}
}
*/


/* Smartphones landscape */
/*
@media screen and (min-device-width : 321px) and (max-device-width : 765px) {
	h1 {
		text-align: left;
		font-size: 5px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	li {
		font-size: 20px;
	}
	
	#header {
	}
	
	#content {
		width: 320px;
	}

	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
	
	#features {
		width: 250px;
	}
	
	#apis {
		width: 250px;
	}
	
	#research {
		width: 250px;
	}
}
*/

/* Smartphones portrait */
/*
@media screen and (max-device-width : 320px) {
	h1 {
		text-align: left;
		font-size: 5px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	li {
		font-size: 20px;
	}
	
	#header {
	}
	
	#content {
		width: 320px;
	}

	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
	
	#features {
		width: 250px;
	}
	
	#apis {
		width: 250px;
	}
	
	#research {
		width: 250px;
	}
}
*/


/* All Platforms */
@media all {

	@font-face {
	  font-family: "Raleway";
	  src: url("webfonts/raleway_thin-webfont.eot");
	  src: local("☺"),
	    url("webfonts/raleway_thin-webfont.woff") format("woff"),
	    url('webfonts/raleway_thin-webfont.ttf') format('truetype'),
	    url("webfonts/raleway_thin-webfont.svg#raleway_thin-webfont") format("svg");
	}
	
	body {
    	font-family: "Raleway", Georgia, serif;
	}
	
	h1 {
		text-align: left;
	}
	
	li {
		list-style: none;
	}
}
