/* 
AVF Project
Name: William Saults
Term: 1211
*/

/* Larger than 768 */
@media only screen and (min-width: 769px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 30px;
	}
	
	li {
		font-size: 20px;
	}
	
	#content {
		width: 1024px;
	}
	
	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
	
	#features {
		width: 250px;
		float: left;
	}
	
	#apis {
		width: 250px;
		float: left;
	}
	
	#research {
		width: 250px;
		float: left;
	}
	
	/* Hide smartphone elements */
	#titlebar {display: none;}
	#toolbar {display: none;}
	#content_mobile {display: none;}
}

/* Tablet Size */
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 40px;
	}
	
	li {
		font-size: 30px;
	}
	
	#content {
		width: 768px;
	}
	
	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:768px;
	}
	
	/* Hide smartphone elements */
	#titlebar {display: none;}
	#toolbar {display: none;}
	#content_mobile {display: none;}
}

/* Handheld size */
@media only screen and (max-width: 480px) {
	body {
    	background-image:url("textures/dark_dotted.png");
	}

	h1 {
		color: white;
		font-size: 18pt;
		
		display: none; /* Remove this to display in app */
	}

	h2 {
		font-size: 15pt;
	}
	
	li {
		font-size: 12pt;
	}
	
	#header {
		margin-top: 45px;
	}
	
	#content_mobile {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	#content_mobile ul {
		margin: 5px 5px;
        padding:0;
        background: gray;
	}
	
	#content_mobile li {
		color: white;
		height: 60px;
		border: solid black 1px;
	}
	
	#content_mobile li a {
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		padding-top: 10px;
		padding-left: 5px;
	}
	
	#footer {
		font-size: 12px;
		text-align: center;
		position:absolute;
	   	bottom:0;
	   	width:320px;
	}
	
	#titlebar {
		display: block;
		font-family: "KnewaveOutlineRegular", Georgia, serif;
		font-size: 20px;
		background: black;
		height: 40px;
		width: 100%;
		border-bottom: solid silver 1px;
		left: 0;   /* Keeps the toolbar fastened to the left */
		top: 0; /* Keeps the toolbar fasted to the top */
		position: fixed;
	}
	
	#toolbar {
		display: block;
		font-size: 10px;
		background: black;
		height: 60px;
		width: 100%;
		border-top: solid silver 1px;
		left: 0;   /* Keeps the toolbar fastened to the left */
		bottom: 0; /* Keeps the toolbar fasted to the bottom */
		position: fixed;
	}
	
	#toolbar ul, #titlebar ul {
		margin:0;
        padding:0;
        width: 100%;
	}
	
	#titlebar li {
		display: inline;
		float: left;
		width: 100%;
		height: 40px;
		text-align: center;
		padding: 15px 0;
	}
	
	#toolbar li {
		display: inline;
		float: left;
		width: 20%;
		height: 60px;
		text-align: center;
		padding: 20px 0;
	}
	
	#toolbar li a, #titlebar li a {
		color: aqua;
		text-decoration: none;
	}
	
	/* Hide tablet/desktop elements */
	#content {display: none;}
}

/* iPhone size */
@media only screen and (max-width: 320px) {
}


/* All Platforms */
@media all {

	@font-face {
	  font-family: "Raleway";
	  src: url("webfonts/raleway_thin-webfont.eot");
	  src: local("☺"),
	    url("webfonts/raleway_thin-webfont.woff") format("woff"),
	    url('webfonts/raleway_thin-webfont.ttf') format('truetype'),
	    url("webfonts/raleway_thin-webfont.svg#raleway_thin-webfont") format("svg");
	}
	
	@font-face {
	    font-family: 'KnewaveRegular';
	    src: url('webfonts/knewave-webfont.eot');
	    src: url('webfonts/knewave-webfont.eot?#iefix') format('embedded-opentype'),
	         url('webfonts/knewave-webfont.woff') format('woff'),
	         url('webfonts/knewave-webfont.ttf') format('truetype'),
	         url('webfonts/knewave-webfont.svg#KnewaveRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: 'KnewaveOutlineRegular';
	    src: url('webfonts/knewave-outline-webfont.eot');
	    src: url('webfonts/knewave-outline-webfont.eot?#iefix') format('embedded-opentype'),
	         url('webfonts/knewave-outline-webfont.woff') format('woff'),
	         url('webfonts/knewave-outline-webfont.ttf') format('truetype'),
	         url('webfonts/knewave-outline-webfont.svg#KnewaveOutlineRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	body {
    	font-family: "Raleway", Georgia, serif;
	}
	
	h1 {
		text-align: left;
	}
	
	li {
		list-style: none;
	}
}
